#chat-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  height: 100vh;;
  max-height: 100vh;
  padding: 20px;
}

#chat-root {

  #no-token {
    padding: 20px;
  }

  #header {
    align-self: center;
  }

  #chat-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    max-width: 500px;
  }

  #message-wrapper {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    min-height: 0px;
    margin-bottom: 10px;
    overflow-y: auto;
  }

  #message-container {
    display: auto;
  }

  #message-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0px;
  }

  .chat-message {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    word-wrap: break-word;
  }
  .chat-message:hover {
    background-color: #e9edf1;
  }

  .chat-message-timetext {
    display: flex;
    justify-content: space-between;
  }

  .chat-message-name {
    font-weight: bold;
  }

  .chat-message-name-hidden {
    visibility: hidden;
  }

  .chat-message-text {
    margin-left: 0.5em;
  }

  .chat-message-time {
    visibility: hidden;
    margin-left: 1em;
  }
  .chat-message:hover .chat-message-time {
    visibility: visible;
  }

  .info-message {
    margin: 5px 0;
    font-weight: bold;
    color: #1165aa;
    padding: 5px;
  }

  .error-message {
    margin: 10px 0;
    font-weight: bold;
    color: #f03636
  }

  #send-container {
    display: flex;
    bottom: 0;
    background-color: white;
    width: 100%;
  }

  #message-input {
    min-width: 100px;
    flex-grow: 1;
    font-size: 12pt;
    margin: 0;
    padding: 7px 10px;
    border-radius: 5px;
    border: none; /* 1px solid #000; */
    outline: none;
    background-color: #eee;
  }

  @media only screen and (max-width: 475px) {
    #content-wrapper {
      display: flex;
      flex-direction: column;
  
      margin: 0 20px;
      border: none;
    }
  }
}