#chat-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  height: 100vh;;
  max-height: 100vh;
  padding: 20px;
}

#chat-root {

  h3 {
    margin: 20px 0 10px 0;
  }

  #no-token {
    padding: 20px;
  }

  #header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #title {
    margin: 30px 0;
  }

  #chat-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 11pt;
    width: 100%;
    margin-bottom: 20px;
  }

  #content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  #chat-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  #active-user-list-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px 15px;
    width: 300px;
    background-color: #f4f4f4;
    overflow-x: hidden;
  }

  .active-user {
    display: flex;
    justify-content: space-between;
  }

  .active-user-name-self {
    font-weight: bold;
    font-style: italic;
  }

  #message-wrapper {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    min-height: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    overflow: auto;
  }

  #message-container {
    display: auto;
  }

  #message-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0px;
  }

  .spacer {
    height: 10px;
  }

  .chat-message {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 2px 10px;
    margin-right: 10px;
    border-radius: 5px;
  }
  .chat-message:hover {
    background-color: #f4f4f4;
  }

  .pfp-div {
    height: 50px;
    width: 60px;
    min-width: 60px;
    padding: 5px 3px;
  }

  .pfp {
    // clip-path: circle(20px at 20px 20px);
    border-radius: 10px;
  }

  .chat-message-name-timetext {
    display: flex;
    flex-direction: column;
    margin-left: 7.5px;
    width: 100%;
  }

  .chat-message-timetext {
    display: flex;
    justify-content: space-between;
  }
  .chat-message-timetext-nameless {
    display: flex;
    align-items: center;
  }
  .chat-message-timetext-nameless .chat-message-text {
    margin-left: 10px;
  }

  .chat-message-name {
    font-weight: bold;
    margin-bottom: 4px;
  }

  .chat-message-name-hidden {
    visibility: hidden;
  }

  .chat-message-text {
    word-break: break-all;
  }

  .chat-message-time {
    font-size: 10pt;
    visibility: hidden;
  }
  .chat-message:hover .chat-message-time {
    visibility: visible;
  }

  .info-message {
    font-weight: bold;
    color: #8b8b8b;
    padding: 5px;
  }

  .error-message {
    margin: 10px 0;
    padding: 5px;
    font-weight: bold;
    color: #f03636
  }

  #send-container {
    display: flex;
    bottom: 0;
    background-color: white;
    width: 100%;
  }

  #message-input {
    min-width: 100px;
    flex-grow: 1;
    font-size: 12pt;
    margin-right: 20px;
    padding: 7px 10px;
    border-radius: 5px;
    border: none; /* 1px solid #000; */
    outline: none;
    background-color: #eee;
  }

  @media only screen and (max-width: 475px) {
    #content-wrapper {
      display: flex;
      flex-direction: column;
  
      margin: 0 20px;
      border: none;
    }

    #message-input {
      margin: 0;
    }

    #chat-wrapper {
      flex-grow: 1;
    }

    #active-user-list-wrapper {
      display: none;
      width: 100%;
      height: 500px;
      margin-top: 15px;
    }
  }
}