#register-root {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

#content-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 50px;
  max-width: 500px;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 1px solid #000;
  border-top: none;
}

h2 {
  text-align: center;
}

input {
  margin-bottom: 10px;
  margin-right: 0;
  padding: 5px;
}

label {
  margin-bottom: 5px;
}

.FontAwesomeIcon {
  padding: 2px;
  margin-right: 2px;
}

#register-container {
  display: flex;
  justify-content: center;
}

#register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  
  width: 100%;
  max-width: 400px;
  padding: 20px 20px;

  border: 1px solid #000;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(230,230,230,1);
  -moz-box-shadow: 0px 0px 20px 10px rgba(230,230,230,1);
  box-shadow: 0px 0px 50px -5px rgba(230,230,230,1);
}

#submit-button {
  margin-top: 10px;
  padding: 5px;
}

#desc {
  margin-bottom: 20px;
  text-align: center;
}

#status-display {
  display: flex;
  justify-content: center;
  font-size: 11pt;
  padding-top: 10px;
  color: #db0000;
}

#status-display #success-status {
  color: #14af00;
}