
* {
  font-family: 'Open Sans', monospace;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  
  font-size: 13pt;
  font-family: serif;
  background-color: var(--bg-color);
}

h1, h2, h3 {
  color: var(--text-color);
}

p {
  display: inline;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

a:link, a:link p {
  color: var(--link-color);
}
a:visited, a:visited p {
  color: var(--link-color);
}

input {
  margin-right: 10px;
  font-size: 11pt;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
}

button {
  font-size: 12pt;
  padding: 3px 7px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  background-color: var(--btn-bg-on);
}

button:hover {
  background-color: var(--btn-bg-hover);
}

button:active {
  background-color: var(--btn-bg-active);
}

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}