#chat-root {
  display: flex;
  flex-direction: column;
  align-content: center;
  
  width: 100%;
  height: 100vh;;
  max-height: 100vh;
  padding: 20px;
}

#header {
  align-self: center;
}

#message-wrapper {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  min-height: 0px;
  margin-bottom: 10px;
  
  overflow: auto;
}

#message-container {
  display: auto;
}

#message-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#message-content div {
  display: flex;
  background-color: #fff;
  padding: 2px 5px;
}

#message-content div:nth-child(2n) {
  background-color: #fff;
}

.chat-message-name {
  text-decoration: underline;
}

.info-message {
  font-weight: bold;
}

#send-container {
  display: flex;
  bottom: 0;
  background-color: white;
  width: 100%;
}

#message-input {
  min-width: 100px;
  flex-grow: 1;
}